.forgot-main
{
    margin-top: 110px;
}
.forgot-container
{
    width : 100%;
    background-color: rgb(77, 76, 76);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(126, 125, 125, 0.6);
	-moz-box-shadow: 0 0 10px rgba(128, 125, 125, 0.6);
	-webkit-box-shadow: 0 0 10px rgba(126, 124, 124, 0.6);
}
.forgot-icon-combine
{
    padding-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgot-icon-combine .forgot-logo
{
    width : 10%;
    height : 40px;
    border-radius: 50%;
    background-color: #222;
    text-align: center;
    font-size: 22px;
    padding-top: 4px;
    font-weight: bold;
    color : whitesmoke;
    font-family: 'PT Sans', sans-serif;
}
.forgot-icon-combine .forgot-name-image
{
    padding-top: 5px;
    padding-left: 9px;
    font-size: 17px;
    color : whitesmoke;
    font-family: 'Nunito', sans-serif;
}
.forgot-heading
{    
    padding-top: 3px;
    font-family: 'PT Sans', sans-serif;
    font-size: 27px;
    text-align: center;
    color : whitesmoke;
}
.forgot-para
{
    padding-top: 18px;
    font-family: 'Nunito', sans-serif;
    color : rgb(177, 173, 173);
    font-size: 14px;
    text-align: center;
}
.forgot-hr
{
    border-top : 1px solid rgb(105, 104, 104);
    width : 95%;
    margin-left: 10px;
}
.forgot-input
{
    margin-top : 40px;
    margin-left: 10px;
    width : 95%;
    background-color: rgb(77, 76, 76);
    color : rgb(199, 193, 193); 
    font-size: 13px;
    border : none;
    border-bottom: 2px solid rgb(153, 151, 151);
    font-family: 'Nunito', sans-serif;
}
.forgot-input::placeholder
{
    color : rgb(156, 153, 153);
}
.forgot-input:focus
{
    outline : none;
    border-bottom: 2px solid #1994c5;
}
.forgot-input2
{
    margin-top : 40px;
    margin-left: 10px;
    width : 95%;
    color : rgb(199, 193, 193);
    background-color: rgb(77, 76, 76);
    font-size: 13px;
    border : none;
    border-bottom: 2px solid rgb(153, 151, 151);
    font-family: 'Nunito', sans-serif;
}
.forgot-input2::placeholder
{
    color : rgb(156, 153, 153);
}
.forgot-input2:focus
{
    outline : none;
    border-bottom: 2px solid #1994c5;
}
.forgot-btn
{
    margin-top: 40px;
    height : 40px;
    border : none;
    border-radius: 10px;
    width : 95%;
    margin-left : 10px;
    background-color:#1994c5;
    color : whitesmoke;
    font-family: 'Nunito', sans-serif;
    box-shadow: 0 3px 6px rgba(66, 4, 117, 0.16), 0 3px 6px rgba(23, 6, 117, 0.23);
}
.forgot-btn:hover
{
    outline : none;
    background-color:#118bbb;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}
.forgot-btn:focus
{
    outline : none;
}

.forgot-input-error
{
	margin-top: 4px;
	height : 10px;
	width : 355px;
	margin-left: 10px;
	color : rgb(238, 93, 93);
	font-size: 11px;
}
.forgot-login
{
    color : rgb(238, 93, 93);
}
.forgot-success-container
{
    background-color: #42ba96;
    height : 40px;
    margin-top : 30px;
    margin-left: 10px;
    width : 95%;
    border-radius: 6px;
}
.forgot-success-name
{
    padding-top : 9px;
    padding-left: 6px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color : white;
}
.forgot-success-container a
{
    color : darkgreen;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}
.forgot-success-container a:hover
{
    color : darkgreen;
}